<div class='main-container'>
    <div class='left-container'>
        <div class='projects-portfolio'>
            <div>Front End Development</div>
            <hr>
            <div>Portfolio Projects</div>
            <div class='txt' >These simple mini projects were created using HTML, CSS, JS, React JS and API. </div>
        </div>
    </div>
    <div class='right-container'>
        <div class='portfolio-container'>
            <div class='item'>
                <img src="assets/images/tbilisi.jpg" alt="">
                <div class='text'>
                    <div class='name'>Tbilisi Weather App</div>
                    <div class='description'>Project description</div>
                    <div class='content'>A mini-project created in React, using the real weather API calls gets current and 5 day forecast of Tbilisi, transforms the received data in an appropriate format.  </div>
                    <a href="https://nata-m.github.io/weather/">Click Here</a>
                </div>
            </div>
            <div class='item'>
                <img src="assets/images/calculator.PNG" alt="">
                <div class='text'>
                    <div class='name'>Calculator</div>
                    <div class='description'>Project description</div>
                    <div class='content'> Simple Calculator with basic math functions, created using html, css and JS only.</div>
                    <a href="https://nata-m.github.io/Calculator/">Click Here</a>
                </div>
            </div>
            <div class='item'>
                <img src="assets/images/auth.PNG" alt="">
                <div class='text'>
                    <div class='name'>Authorization Form</div>
                    <div class='description'>Project description</div>
                    <div class='content'>Created with html, css and JS (DOM events). Authorization form with validation and other fields. For test please enter admin: tdgadmin and password: 123456789. </div>
                    <a href="https://nata-m.github.io/tdgroup-task-nata/">Click Here</a>
                </div>
            </div>
            <div class='item'>
                <img src="assets/images/tasks.PNG" alt="">
                <div class='text'>
                    <div class='name'>Task Manager</div>
                    <div class='description'>Project description</div>
                    <div class='content'>Angular based task manager (only desktop, non-responsive) where you can create and categorize tasks. </div>
                    <a href="https://nata-m.github.io/task-manager/">Click Here</a>
                </div>
            </div>
        </div>
    </div>
</div>
