<div class="home-container">
  <!-- <button (click)="onSubmitServer()">SUBMIT</button> -->
  <div class="experience">My Experience with Front End Technologies</div>
  <div class='skills'>
  <div class="skills-container">
    <div class="circle">
      <img src="assets/images/html.jpg" alt="" />
    </div>
    <div class="text">
      As HTML is the primary building block and structure for web components, it
      is very important to construct it in a correct way. More than 1 year of
      experience in working with HTML5 standard, good knowledge of semantics,
      attributes, validations and forms, main principles and concepts of
      advanced HTML.
    </div>
  </div>
  <div class="skills-container">
    <div class="circle">
      <img src="assets/images/csss.PNG" alt="" />
    </div>
    <div class="text">
      Good knowledge and valuable experience in SCSS syntax, css layout tools,
      such as flexbox, grid and positioning, responsive web design principles,
      animations and transitions, css properties.
    </div>
  </div>
  <div class="skills-container">
    <div class="circle">
      <img src="assets/images/js.jpg" alt="" />
    </div>
    <div class="text">
      Good understanding of JavaScript main principles, concenpts and approaches
      (ES6), including basics, such as data types, variables, operators, DOM
      events, loops, array methods, classes, APIs (fetch, axios).
    </div>
  </div>
  <div class="skills-container">
    <div class="circle">
      <img src="assets/images/react.PNG" alt="" />
    </div>
    <div class="text">
      Internship experience in working with React project, good understanding of
      main principles, including JSX syntax, code structure, reusable
      components, props, states and hooks, React Router. Good knowledge of
      Material UI framework and its use in React projects.
    </div>
  </div>
  <div class="skills-container">
    <div class="circle">
      <img src="assets/images/angular.png" alt="" />
    </div>
    <div class="text">
      Almost 3 months of working experience in Angular. Started from the very beginning 3 months ago, I know the basic concepts and characteristics of Angular, including code structure, expressions, TypeScript syntax, data binding, routing. Actively using Angular Material framework for creating UI components. 
    </div>
  </div>
</div>
<div class='story-component'>
    <app-story></app-story>
</div>
</div>
