<div class='main-container'>
  <header class='header'>
    <ul class='list'>
      <li (click)="state = 'home'"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">About</a></li>
      <li (click)="state = 'about'" routerLinkActive="active"><a routerLink="/about">Portfolio</a></li>
      <li (click)="state = 'contact'" routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
    </ul>
  </header>
  <div class='content-container'>
    <router-outlet></router-outlet>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>