<div class="story">And That's My Story...</div>
<div class="text-container">
  <div class="text">
    2 Years ago I completely changed my profession, I have bachelor's and
    master's degrees in International Relations and MBA in Management. During my
    studying at Business and Technology University, the contest for
    participation in Coding School for Women was announced. I decided to try
    this opportunity, which drastically changed my life. I was pregnant while
    continuing this course. Then, After 8 months period of being home with my
    baby, I started to continue my new career. Soon, I found internship at
    Dataninja project, which was a really good first experience in Front End
    programming. After couple of months I started searching for a real job and I
    found it at Georgia Tech Tbilisi as a Markup Developer.
  </div>
</div>
<div class="story">And about the future...</div>
<div class="text-container">
  <div class="text">
    I believe technologies are the future and hope that it will get us to a
    better life if we use it in a right way. I don't know what I will be doing
    after 5 years, but I think that it will be related to technologies. At this
    moment, I am trying to become a professional Front End developer and
    mastering my skills in JavaScript as well as JS frameworks (React and
    Angular). I love this job because you can observe how you are growing every
    day, you can see the results of your work simultaneously and, what is most
    exciting, you are your own teacher on this path.
  </div>
</div>
